name: CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Cargo Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Nix Magic Cache
        uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: Check
        run: nix develop --command cargo check

  build:
    name: Nix Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16

      - name: Nix Magic Cache
        uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: Build
        run: nix build -L --no-update-lock-file