name: Nix Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
      contents: "read"
    steps:
    - uses: actions/checkout@v4
    - uses: determinateSystems/nix-installer-action@v16
    - uses: determinateSystems/magic-nix-cache-action@v8
    - name: Build with Nix
      run: nix build -L